:root {
  --white: #ffffff;
  --yellow: #ebe2bc;
  --green: #0d3d41;
  --dark: #1a1423;
  --red: #6d0b13;
  --violet: #241c26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover {
  cursor: pointer;
}

html {
  position: relative;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  background: url("./img/bk_light.png"), black;
  background-size: cover;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: -webkit-fill-available;
}

body.job-page {
  overflow: hidden;
  background-color: white;
}

section {
  background-size: cover;
  flex: 1;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  margin: 6px;
  /* max-width: 1000px;
  margin-right: auto;
  margin-left: auto; */
}

section.job:hover,
section.job:active,
section.job:focus {
  /* border-radius: 4rem; */
  box-shadow: 0px 1px 30px #1a1423;
  z-index: 1000;
  cursor: pointer;
}

section.job .enter {
  content: "";
  box-sizing: border-box;
  background: url(./img/svg/arrow_right.svg), black;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 4vh;
  right: 4vw;
  /* border-radius: 100%; */
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1001;
}

section.job .enter:hover {
  filter: invert(1);
  border: 1px solid white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
}

section.title {
  height: 70vh;
  background-image: url(./new-gifs/main03.gif);
  background-blend-mode: hard-light;
  background-color: #04211e;
  margin: 0;
}

section.title img {
  width: 400px;
}

section.title .bottom-text {
  background-color: #ffffff;
  left: auto;
  right: auto;
}

section.main {
  background-color: black;
  background-image: url(./new-gifs/main01.gif);
  margin: 0;
}

section.main .text-green {
  text-shadow: 0px 2px 0px #00544c;
  padding: 6px;
  background: rgb(0, 0, 0, 0.4);
}

section.main .logo {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

section.main .bottom-text {
  left: auto;
  right: auto;
  background: white;
  cursor: pointer;
}

.main02 {
  background-image: url(./new-gifs/main02.gif);
  width: 90%;
  height: 90%;
  background-size: cover;
  margin: auto;
  display: flex;
}

.main03 {
  background-image: url(./new-gifs/main03.gif);
  width: 80%;
  height: 80%;
  background-size: contain;
  margin: auto;
}

section.job1 {
  background-image: url(./new-gifs/01.gif);
}

section.job2 {
  background-image: url(./new-gifs/02.gif);
}

section.job3 {
  background-image: url(./new-gifs/03.gif);
}

section.job4 {
  background-image: url(./new-gifs/04.gif);
  background-size: contain;
  background-position: center;
}

section.job5 {
  background: url(./new-gifs/05.gif), #949392;
  background-position: center;
  background-size: 800px;
  /* background-repeat: no-repeat; */
}

.container {
  max-width: 1200px;
  margin: auto;
}

.arrow {
  width: 40px;
  height: 40px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1001;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--dark);
  flex-grow: 0;
}

.arrow:hover {
  filter: invert(1);
  border: 1px solid white;
}

.right-arrow {
  background-image: url(./img/svg/arrow_right.svg);
}

.left-arrow {
  background-image: url(./img/svg/arrow_left.svg);
}

.back {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.portfolio-scroll-div .arrow.disabled {
  filter: opacity(0.5);
  cursor: not-allowed;
  border: none;
}

/* NEW */
.portfolio-scroll {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.portfolio-scroll .portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 3px solid var(--dark);
}

.portfolio-scroll .portfolio-header .portfolio-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.portfolio-scroll .portfolio-header .portfolio-title h2 {
  flex: 1 0;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.portfolio-scroll .portfolio-header img {
  width: 120px;
}

.portfolio-scroll .portfolio-content {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* scroll-snap-stop: always; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}

.loader {
  background-image: url(./img/svg/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.portfolio-scroll .portfolio-content::-webkit-scrollbar {
  display: none;
}

.portfolio-scroll .portfolio-content picture {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
}

.portfolio-scroll .portfolio-content picture img {
  object-position: center;
  object-fit: contain;
  height: 90%;
  width: 70%;
}

.portfolio-scroll .portfolio-content picture .job-description {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.portfolio-scroll .portfolio-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-top: 3px solid var(--dark);
}

.portfolio-scroll .portfolio-footer ol {
  display: flex;
  width: 200px;
  justify-content: center;
}

.portfolio-scroll .portfolio-footer ol li {
  width: 10px;
  height: 10px;
  background: black;
  list-style: none;
  margin: 6px;
  border-radius: 100%;
  filter: opacity(0.5);
}

.portfolio-scroll .portfolio-footer ol li:active {
  filter: opacity(1);
}

footer {
  padding: 4vh 0px;
}

footer .logo {
  margin-bottom: 4vh;
}

footer > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4vh;
}

footer a {
  font-size: 0.8rem;
  color: #white;
  text-decoration: none;
  margin: 0.5rem;
}

footer a:hover {
  filter: brightness(0.8);
  text-decoration: underline;
}

footer .auth {
  font-size: 0.7rem;
  color: #1a1423;
  background-color: white;
  font-family: "IBM Plex Mono", sans-serif;
  cursor: pointer;
  font-weight: bold;
  padding: 0.2em;
  border-radius: 0.3em;
}

.bg-black {
  background: black;
}

.bg-gray {
  background: #5a5b5b;
}

.text-red {
  color: red;
}

.bg-red {
  background: red;
}

.text-yellow {
  color: #fbde48;
}

.bg-yellow {
  background: #fbde48;
}

.bg-orange {
  background: #fe8a27;
}

.text-white {
  color: white;
}

.bg-white {
  background: white;
}

.text-blue {
  color: #05fefe;
}

.bg-blue {
  background: #05fefe;
}

.text-green {
  color: #69e54a;
}

.darker {
  filter: brightness(0.6);
}

.center-text {
  position: absolute;
  max-width: 60vw;
}

.bottom-text {
  position: absolute;
  bottom: 4vh;
  right: 0vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-text > *,
.vertical-text > * {
  padding: 1rem 1.3rem;
}

.vertical-text {
  position: absolute;
  top: 4vh;
  left: 4vw;
}

@media (max-width: 762px) {
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  section {
    height: 70vh;
    overflow: hidden;
    max-height: 600px;
  }

  section.title {
    height: 50vh;
  }

  section.title img {
    width: 200px;
  }

  section.main {
    height: 90vh !important;
  }

  section.main .logo {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: 200px;
  }

  .center-text {
    top: 16vh;
    left: 4vw;
    text-shadow: 0 1px white;
  }

  section.main .center-text {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }

  .bottom-text,
  .vertical-text {
    left: 4vw;
    align-items: flex-start;
  }

  .bottom-text > *,
  .vertical-text > * {
    padding: 0.1rem 0.3rem;
  }

  footer .container,
  footer .links {
    flex-direction: column;
  }

  section:not(.main)::after {
    width: 40px;
    height: 40px;
  }

  .portfolio-scroll .portfolio-header {
    padding: 10px;
  }

  .back {
    width: 40px;
    height: 40px;
  }

  .portfolio-scroll .portfolio-header .portfolio-title h2 {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  .portfolio-scroll .portfolio-header img {
    width: 60px;
  }

  .portfolio-scroll .portfolio-content picture img {
    width: 90%;
  }

  .portfolio-scroll .portfolio-description {
    border-top: 3px solid var(--dark);
    padding: 16px;
    width: 100%;
  }

  .portfolio-scroll .portfolio-footer {
    padding: 10px;
  }
}

.fade-in-bottom > * {
  opacity: 1;
  transform: translateY(0px);
  animation-name: fadeInBottom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.scale-in {
  transform: scale(1);
  animation-name: scaleIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.fade-in-left {
  opacity: 1;
  transform: translateX(0px);
  animation-name: fadeInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.fade-in-right {
  opacity: 1;
  transform: translateX(0px);
  animation-name: fadeInRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
