:root {
  --white: #ffffff;
  --yellow: #ebe2bc;
  --green: #0d3d41;
  --dark: #1a1423;
  --red: #6d0b13;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Rubik";
  /* font-family: "Arial"; */
  font-size: 16px;
  font-weight: normal;
  color: var(--dark);
  background-color: #fbfbfb;
}

h1 {
  font-size: 42px;
  font-weight: lighter;
}

h3 {
  font-size: 22px;
  font-weight: lighter;
}

h4 {
  font-size: 18px;
}

.bg-green {
  background-color: var(--green);
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: var(--white);
  color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.text-yellow {
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#header ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

#header ul li {
  padding: 10px;
}

#main {
  padding-bottom: 100px;
  background: url(./img/bk.png);
}

#manifesto {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
  padding: 40px;
}

#manifesto .quote {
  margin-bottom: 30px;
}

#manifesto h1 {
  margin-bottom: 60px;
}

#gif {
  max-width: 1000px;
  max-height: 650px;
  margin: auto;
  overflow: hidden;
  padding: 40px;
}

#gif img {
  width: 100%;
  height: auto;
}

.portfolio-scroll {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none; /* IE and Edge */
}

.portfolio-scroll::-webkit-scrollbar {
  display: none;
}

.portfolio-scroll > picture {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding-top: 40px;
  padding-bottom: 0px;
}

.portfolio-scroll > picture > img {
  /* align-self: center;
  max-width: 70%;
  max-height: 70%; */
  object-position: center;
  object-fit: contain;
  height: 70vh;
  width: 70vw;
}

.portfolio-scroll .portfolio-art {
  flex: 1 0 100%;
  display: flex;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 0px;
}
.portfolio-scroll .portfolio-art img {
  object-position: center;
  object-fit: contain;
  height: 70vh;
  width: 70vw;
}

.portfolio-header {
  margin-top: 4vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  z-index: 100;
}

.portfolio-footer {
  margin-bottom: 2vh;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.arrow img {
  max-width: 3vw;
  cursor: pointer;
  transition: 500ms;
  z-index: 1;
}

.arrow img:hover {
  transform: scale3d(0.9, 0.9, 1);
  opacity: 0.9;
}

.arrow.arrow-left {
  position: absolute;
  display: flex;
  height: 100vh;
  left: 2vw;
}

.arrow.arrow-right {
  position: absolute;
  display: flex;
  height: 100vh;
  right: 2vw;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 1px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
}

@media (max-width: 767px) {
  #main {
    padding-bottom: 32px;
  }
  #manifesto {
    text-align: left;
    padding: 16px;
    margin-bottom: 16px;
  }
  #header {
    display: none;
  }
  #manifesto .quote {
    margin-bottom: 20px;
    width: 26px;
  }
  #manifesto h1 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  #gif {
    padding: 0;
  }
  .portfolio-scroll {
    height: fit-content;
    max-height: 60vh;
  }
  .portfolio-header {
    margin-top: 2vh;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 4px;
  }
  h4 {
    font-size: 12px;
  }
  .arrow {
    display: none !important;
  }
}

#scene {
  position: absolute;
  right: -10%;
  bottom: 10%;
  width: 80%;
}
